<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682956500665-557iqmr94lt6u0n2m7p977tc7mqbfpcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682956500665-557iqmr94lt6u0n2m7p977tc7mqbfpcc</string>
	<key>API_KEY</key>
	<string>AIzaSyB4HEo5e1IPdYmvBOwMyKvvbe1NweVHk2A</string>
	<key>GCM_SENDER_ID</key>
	<string>682956500665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.vihat.omikit</string>
	<key>PROJECT_ID</key>
	<string>concung-5772a</string>
	<key>STORAGE_BUCKET</key>
	<string>concung-5772a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682956500665:ios:b6e99d277a99bbffd9f568</string>
</dict>
</plist>